# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env.*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# CDK
/cdk-deployment/cdk.out/
/cdk-deployment/node_modules/
/cdk-deployment/*.js
/cdk-deployment/*.d.ts
/cdk-deployment/bin/*.js
/cdk-deployment/bin/*.d.ts
/cdk-deployment/lib/*.js
/cdk-deployment/lib/*.d.ts
/cdk-deployment/test/*.js
/cdk-deployment/test/*.d.ts

# aider
.aider*

# amplify
.amplify/
amplify_outputs.json*
.aider*
